.container {
    margin: 20px;

}
.container .product-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap:wrap;
    margin-left:20px;
}
.container .product-container .product-card {
    width:200px;
    padding:20px;
    border: 1px solid #ccc;
}
.container .product-container .product-card .card-body {
    height:25vh;
}
.container .product-container .product-card .card-action button {
    background-color: rgb(137, 137, 224);
    color:white
}